Может понадобиться установка:

In [92]:
# !pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

Импортируем библиотеки:

In [93]:
import os.path
from googleapiclient.discovery import build
from google.oauth2 import service_account
import pandas as pd
import numpy as np
# from google_auth_oauthlib.flow import InstalledAppFlow
# from google.auth.transport.requests import Request
# from google.oauth2.credentials import Credentials

Забираем данные, используя Google Sheeets API v4:

In [94]:
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']
SERVICE_ACCOUNT_FILE = r"/content/drive/MyDrive/some_data/some-data-315613-ac85ae5ff65d.json"
SAMPLE_SPREADSHEET_ID = '1Ycg7zTxds9DZnDvTrFcyNNKuTUxg6Yy6WF0a8Wc02WQ'

In [95]:
credentials = service_account.Credentials.from_service_account_file(
    SERVICE_ACCOUNT_FILE, scopes=SCOPES)

In [96]:
service = build("sheets", "v4", credentials=credentials)

Выбираем страницы для дальнейшей обработки раздельно:

In [97]:
result_transactions = service.spreadsheets().values().get(
    spreadsheetId=SAMPLE_SPREADSHEET_ID,
    range='transactions'
).execute()

result_clients = service.spreadsheets().values().get(
    spreadsheetId=SAMPLE_SPREADSHEET_ID,
    range='clients'
).execute()

result_managers = service.spreadsheets().values().get(
    spreadsheetId=SAMPLE_SPREADSHEET_ID,
    range='managers'
).execute()

result_leads = service.spreadsheets().values().get(
    spreadsheetId=SAMPLE_SPREADSHEET_ID,
    range='leads'
).execute()

Посомтрим данные на вид:

In [98]:
print(result_managers.keys())

dict_keys(['range', 'majorDimension', 'values'])

In [99]:
print(result_managers["majorDimension"])

ROWS

In [100]:
print(result_managers["values"])

[['manager_id', 'd_manager', 'd_club'], ['1e9c5562-0cfc-11ea-abe1-c412f533dba1', 'manager #8', 'club #2'], ['43756fa4-57a0-11e9-ab9a-c412f533dba1', 'manager #11', 'club #4'], ['543888c4-fbb3-11e9-abdc-c412f533dba1', 'manager #12', 'club #3'], ['5dd88f32-6501-11ea-abf3-c412f533dba1', 'manager #10', 'club #2'], ['9a87c608-52dc-11ea-abeb-c412f533dba1', 'manager #9', 'club #3'], ['abed5496-ca88-11e9-abb8-c412f533dba1', 'manager #5', 'club #4'], ['ad52c7a8-a752-11e7-8115-c412f533dba1', 'manager #7', 'club #1'], ['b55a233c-5df6-11ea-abf2-c412f533dba1', 'manager #2', 'club #4'], ['b832aac3-fcda-11ea-ac18-c412f533dba1', 'manager #13', 'club #3'], ['d12fe765-b444-11e9-abb3-c412f533dba1', 'manager #1', 'club #1'], ['db06b8bc-bfb2-11e7-8116-c412f533dba1', 'manager #4', 'club #2'], ['e463b03f-2d74-11eb-ac1f-c412f533dba1', 'manager #3', 'club #1'], ['f44596c6-12cd-11eb-ac1c-c412f533dba1', 'manager #6', 'club #2']]

Придаём таблицам рабочий вид и делаем предпросмотр:

In [101]:
df_transactions = pd.DataFrame(result_transactions["values"][1:], columns=result_transactions["values"][0])

In [102]:
df_transactions['created_at'] = pd.to_datetime(df_transactions['created_at'])

Нужно переименовать столбец киентов, иначе пандас не осилит в конце (обратить внимание, что lead_client_id не относится к таблице df_leads):

In [103]:
df_transactions["lead_client_id"] = df_transactions["l_client_id"]

In [104]:
df_transactions = df_transactions.drop(["l_client_id"], axis=1)

In [105]:
df_transactions

                             transaction_id  ...                        lead_client_id
0      2c9f1527-8e7f-4fb1-8000-c747a2ab46c9  ...  8a805e60-6fd6-11e7-80fc-c412f533dba1
1      2c9f1527-8e7f-4fb1-8000-c747a2ab46c9  ...  8a805e60-6fd6-11e7-80fc-c412f533dba1
2      ab8cbcf7-3271-49a0-8001-6cf9816f63b8  ...  dc0d0e52-629a-11ea-abf3-c412f533dba1
3      ab8cbcf7-3271-49a0-8001-6cf9816f63b8  ...  dc0d0e52-629a-11ea-abf3-c412f533dba1
4      52f8ebcc-d82d-4be1-8004-72cfbe0dff24  ...  e663b6a0-4a1a-11e8-a2c3-c412f533dba1
...                                     ...  ...                                   ...
28995  39119f9c-d15b-46e6-bffa-1361257415cd  ...  b56326a0-d5a2-11e9-abbe-c412f533dba1
28996  74fa1409-2a93-4a3e-bffb-d2cd0c75f6a5  ...  1a32cb98-d5a2-11e9-abbe-c412f533dba1
28997  b5959542-894b-4eda-bffc-8ecaaed4f9e5  ...  55953b37-d5af-11e9-abbe-c412f533dba1
28998  c7cb1253-6e03-4531-bffe-81866395abce  ...  547f3c7b-d5a4-11e9-abbe-c412f533dba1
28999  c7cb1253-6e03-4531-bffe-81866395abce  ...  547f3c7b-d5a4-11e9-abbe-c412f533dba1

[29000 rows x 4 columns]

In [106]:
df_transactions.dtypes

transaction_id            object
created_at        datetime64[ns]
m_real_amount             object
lead_client_id            object
dtype: object

In [107]:
df_clients = pd.DataFrame(result_clients["values"][1:], columns=result_clients["values"][0])

In [108]:
df_clients.shape

(75766, 3)

In [109]:
df_clients

                                  client_id  ...                          l_manager_id
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...  ad52c7a8-a752-11e7-8115-c412f533dba1
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
3      00133cde-481c-11ea-abeb-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...  abed5496-ca88-11e9-abb8-c412f533dba1
...                                     ...  ...                                   ...
75761  ffeed40c-3a7e-11e9-ab8e-c412f533dba1  ...  db06b8bc-bfb2-11e7-8116-c412f533dba1
75762  fff022a5-2c34-11e8-8131-c412f533dba1  ...  d12fe765-b444-11e9-abb3-c412f533dba1
75763  fff88086-11bb-11ea-abe7-c412f533dba1  ...  bf340611-034b-11eb-ac18-c412f533dba1
75764  fff9ba6e-de05-11e9-abc1-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
75765  fffd756f-d49a-11e9-abbe-c412f533dba1  ...  31298620-0355-11eb-ac18-c412f533dba1

[75766 rows x 3 columns]

Заменим поломанные даты на воспринимаемые программой:

In [110]:
df_clients.loc[(df_clients['created_at'] < "0001-01-02 00:00:00"), 'created_at'] = '2001-01-01 00:00:01'

In [111]:
df_clients

                                  client_id  ...                          l_manager_id
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...  ad52c7a8-a752-11e7-8115-c412f533dba1
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
3      00133cde-481c-11ea-abeb-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...  abed5496-ca88-11e9-abb8-c412f533dba1
...                                     ...  ...                                   ...
75761  ffeed40c-3a7e-11e9-ab8e-c412f533dba1  ...  db06b8bc-bfb2-11e7-8116-c412f533dba1
75762  fff022a5-2c34-11e8-8131-c412f533dba1  ...  d12fe765-b444-11e9-abb3-c412f533dba1
75763  fff88086-11bb-11ea-abe7-c412f533dba1  ...  bf340611-034b-11eb-ac18-c412f533dba1
75764  fff9ba6e-de05-11e9-abc1-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
75765  fffd756f-d49a-11e9-abbe-c412f533dba1  ...  31298620-0355-11eb-ac18-c412f533dba1

[75766 rows x 3 columns]

Поменяем тип данных в столбце created_at на date:

In [112]:
df_clients['created_at'] = pd.to_datetime(df_clients['created_at'])

Удалим из этого списка даты, после первой записи в таблице df_leads для дальнейшего выявления старых / новых пользователей:

In [113]:
df_clients = df_clients.query("created_at < '2020-10-01 0:02:55'")

In [114]:
df_clients

                                  client_id  ...                          l_manager_id
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...  ad52c7a8-a752-11e7-8115-c412f533dba1
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
3      00133cde-481c-11ea-abeb-c412f533dba1  ...  9a87c608-52dc-11ea-abeb-c412f533dba1
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...  abed5496-ca88-11e9-abb8-c412f533dba1
...                                     ...  ...                                   ...
75761  ffeed40c-3a7e-11e9-ab8e-c412f533dba1  ...  db06b8bc-bfb2-11e7-8116-c412f533dba1
75762  fff022a5-2c34-11e8-8131-c412f533dba1  ...  d12fe765-b444-11e9-abb3-c412f533dba1
75763  fff88086-11bb-11ea-abe7-c412f533dba1  ...  bf340611-034b-11eb-ac18-c412f533dba1
75764  fff9ba6e-de05-11e9-abc1-c412f533dba1  ...  43756fa4-57a0-11e9-ab9a-c412f533dba1
75765  fffd756f-d49a-11e9-abbe-c412f533dba1  ...  31298620-0355-11eb-ac18-c412f533dba1

[74017 rows x 3 columns]

In [115]:
df_clients.dtypes

client_id               object
created_at      datetime64[ns]
l_manager_id            object
dtype: object

In [116]:
df_managers = pd.DataFrame(result_managers["values"][1:], columns=result_managers["values"][0])

In [117]:
df_managers.shape

(13, 3)

In [118]:
df_managers

                              manager_id    d_manager   d_club
0   1e9c5562-0cfc-11ea-abe1-c412f533dba1   manager #8  club #2
1   43756fa4-57a0-11e9-ab9a-c412f533dba1  manager #11  club #4
2   543888c4-fbb3-11e9-abdc-c412f533dba1  manager #12  club #3
3   5dd88f32-6501-11ea-abf3-c412f533dba1  manager #10  club #2
4   9a87c608-52dc-11ea-abeb-c412f533dba1   manager #9  club #3
5   abed5496-ca88-11e9-abb8-c412f533dba1   manager #5  club #4
6   ad52c7a8-a752-11e7-8115-c412f533dba1   manager #7  club #1
7   b55a233c-5df6-11ea-abf2-c412f533dba1   manager #2  club #4
8   b832aac3-fcda-11ea-ac18-c412f533dba1  manager #13  club #3
9   d12fe765-b444-11e9-abb3-c412f533dba1   manager #1  club #1
10  db06b8bc-bfb2-11e7-8116-c412f533dba1   manager #4  club #2
11  e463b03f-2d74-11eb-ac1f-c412f533dba1   manager #3  club #1
12  f44596c6-12cd-11eb-ac1c-c412f533dba1   manager #6  club #2

In [119]:
df_leads = pd.DataFrame(result_leads["values"][1:], columns=result_leads["values"][0])

In [120]:
df_leads['created_at'] = pd.to_datetime(df_leads['created_at'])

In [121]:
df_leads.shape

(3337, 6)

In [122]:
df_leads.dtypes

lead_id                 object
created_at      datetime64[ns]
d_utm_medium            object
d_utm_source            object
l_manager_id            object
l_client_id             object
dtype: object

In [123]:
df_leads

                                   lead_id  ...                           l_client_id
0     00678e71-0fb9-11eb-ac1a-c412f533dba1  ...  7264cf21-a31d-11e9-abb0-c412f533dba1
1     0078b05d-0f1f-11eb-ac1a-c412f533dba1  ...  606c5b29-0f88-11eb-ac1a-c412f533dba1
2     007d1401-2af3-11eb-ac1f-c412f533dba1  ...  1f389c6a-d5ab-11e9-abbe-c412f533dba1
3     0084e614-2fcc-11eb-ac1f-c412f533dba1  ...  00000000-0000-0000-0000-000000000000
4     009b1616-145d-11eb-ac1d-c412f533dba1  ...  ac2c0012-6fd5-11e7-80fc-c412f533dba1
...                                    ...  ...                                   ...
3332  ffaa0815-16c4-11eb-ac1d-c412f533dba1  ...  ffaa0816-16c4-11eb-ac1d-c412f533dba1
3333  ffacb5af-194f-11eb-ac1d-c412f533dba1  ...  377ea5e0-d089-11e9-abbd-c412f533dba1
3334  ffbd53f1-3150-11eb-ac1f-c412f533dba1  ...  6dd39f15-d5a3-11e9-abbe-c412f533dba1
3335  ffc0b363-2ae9-11eb-ac1f-c412f533dba1  ...  00000000-0000-0000-0000-000000000000
3336  ffcdebc8-15c2-11eb-ac1d-c412f533dba1  ...  f3357d13-15c7-11eb-ac1d-c412f533dba1

[3337 rows x 6 columns]

________

Все 4 таблицы подготовлены, начинаем соединять:
________

In [124]:
# df_transactions
# df_clients
# df_managers
# df_leads

In [125]:
df_clients.shape

(74017, 3)

In [126]:
df_leads.shape

(3337, 6)

Соединим **df_clients** и **df_leads**:

In [127]:
df_cl = df_clients.merge(df_leads, left_on="client_id", right_on="l_client_id", how="outer", sort=False)

In [128]:
df_cl

                                  client_id  ...                           l_client_id
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...                                   NaN
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...                                   NaN
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...                                   NaN
3      00133cde-481c-11ea-abeb-c412f533dba1  ...                                   NaN
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...                                   NaN
...                                     ...  ...                                   ...
76538                                   NaN  ...  f3268586-0a45-11eb-ac1a-c412f533dba1
76539                                   NaN  ...  78d56291-093f-11eb-ac1a-c412f533dba1
76540                                   NaN  ...  2e4fbe67-12cb-11eb-ac1c-c412f533dba1
76541                                   NaN  ...  ffa2180f-1f72-11eb-ac1d-c412f533dba1
76542                                   NaN  ...  ffaa0816-16c4-11eb-ac1d-c412f533dba1

[76543 rows x 9 columns]

In [58]:
# df_cl.to_excel("/content/drive/MyDrive/some_data/df_cl.xlsx")

____________

Присоединяем df_managers по ключам менеджеров:

In [129]:
df_clm = df_cl.merge(df_managers, left_on="l_manager_id_y", right_on="manager_id", how="outer", sort=False)

In [130]:
df_clm

                                  client_id  ...   d_club
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...      NaN
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...      NaN
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...      NaN
3      00133cde-481c-11ea-abeb-c412f533dba1  ...      NaN
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...      NaN
...                                     ...  ...      ...
76539                                   NaN  ...      NaN
76540                                   NaN  ...      NaN
76541                                   NaN  ...      NaN
76542                                   NaN  ...      NaN
76543                                   NaN  ...  club #2

[76544 rows x 12 columns]

Удалим строку с менеджером без продаж.

In [131]:
df_clm = df_clm.drop([76543], axis=0)

In [132]:
df_clm

                                  client_id  ... d_club
0      0001da7d-fcda-11ea-ac18-c412f533dba1  ...    NaN
1      000a8743-9ae1-11e7-8114-c412f533dba1  ...    NaN
2      000ae57e-2d48-11ea-abeb-c412f533dba1  ...    NaN
3      00133cde-481c-11ea-abeb-c412f533dba1  ...    NaN
4      00148d3f-07e6-11e8-812a-c412f533dba1  ...    NaN
...                                     ...  ...    ...
76538                                   NaN  ...    NaN
76539                                   NaN  ...    NaN
76540                                   NaN  ...    NaN
76541                                   NaN  ...    NaN
76542                                   NaN  ...    NaN

[76543 rows x 12 columns]

__________

Добавляем df_transactions:

In [133]:
df_clmt = df_clm.merge(df_transactions, left_on="l_client_id", right_on="lead_client_id", how="outer", sort=False)

In [134]:
df_clmt['m_real_amount'] = pd.to_numeric(df_clmt['m_real_amount'])

In [135]:
df_clmt

                                   client_id  ...                        lead_client_id
0       0001da7d-fcda-11ea-ac18-c412f533dba1  ...                                   NaN
1       000a8743-9ae1-11e7-8114-c412f533dba1  ...                                   NaN
2       000ae57e-2d48-11ea-abeb-c412f533dba1  ...                                   NaN
3       00133cde-481c-11ea-abeb-c412f533dba1  ...                                   NaN
4       00148d3f-07e6-11e8-812a-c412f533dba1  ...                                   NaN
...                                      ...  ...                                   ...
104817                                   NaN  ...  befc3c0b-d5a3-11e9-abbe-c412f533dba1
104818                                   NaN  ...  eef0ac0f-e919-11e9-abd7-c412f533dba1
104819                                   NaN  ...  7bac29e7-d5a7-11e9-abbe-c412f533dba1
104820                                   NaN  ...  760e1f4e-6fd8-11e7-80fc-c412f533dba1
104821                                   NaN  ...  a9646c16-d5a2-11e9-abbe-c412f533dba1

[104822 rows x 16 columns]

In [136]:
df_clmt.dtypes

client_id                 object
created_at_x      datetime64[ns]
l_manager_id_x            object
lead_id                   object
created_at_y      datetime64[ns]
d_utm_medium              object
d_utm_source              object
l_manager_id_y            object
l_client_id               object
manager_id                object
d_manager                 object
d_club                    object
transaction_id            object
created_at        datetime64[ns]
m_real_amount            float64
lead_client_id            object
dtype: object

In [137]:
# df_clmt.to_excel("/content/drive/MyDrive/some_data/df_clmt_ready.xlsx")

__________
Соединили таблицы, теперь начинаем работать.
________

Создадим столбцы с пометками о проверке на дроп и на старого клиента:

In [138]:
df_clmt["dropped"] = df_clmt.l_client_id == "00000000-0000-0000-0000-000000000000"

In [139]:
df_clmt["old"] = df_clmt.l_client_id == df_clmt.client_id

In [140]:
df_clmt

                                   client_id  ...    old
0       0001da7d-fcda-11ea-ac18-c412f533dba1  ...  False
1       000a8743-9ae1-11e7-8114-c412f533dba1  ...  False
2       000ae57e-2d48-11ea-abeb-c412f533dba1  ...  False
3       00133cde-481c-11ea-abeb-c412f533dba1  ...  False
4       00148d3f-07e6-11e8-812a-c412f533dba1  ...  False
...                                      ...  ...    ...
104817                                   NaN  ...  False
104818                                   NaN  ...  False
104819                                   NaN  ...  False
104820                                   NaN  ...  False
104821                                   NaN  ...  False

[104822 rows x 18 columns]

Создадим столбец с замером разницы между оплатой и временем регистрации заказа:

In [141]:
df_clmt["fast_buy"] = df_clmt["created_at_y"] - df_clmt["created_at"]

In [142]:
df_clmt["f_buy"] = df_clmt.fast_buy.dt.days

In [143]:
df_clmt

                                   client_id  ... f_buy
0       0001da7d-fcda-11ea-ac18-c412f533dba1  ...   NaN
1       000a8743-9ae1-11e7-8114-c412f533dba1  ...   NaN
2       000ae57e-2d48-11ea-abeb-c412f533dba1  ...   NaN
3       00133cde-481c-11ea-abeb-c412f533dba1  ...   NaN
4       00148d3f-07e6-11e8-812a-c412f533dba1  ...   NaN
...                                      ...  ...   ...
104817                                   NaN  ...   NaN
104818                                   NaN  ...   NaN
104819                                   NaN  ...   NaN
104820                                   NaN  ...   NaN
104821                                   NaN  ...   NaN

[104822 rows x 20 columns]

In [144]:
# старых клиентов 1667
df_clmt["old"].value_counts()

False    103155
True       1667
Name: old, dtype: int64

In [145]:
# дропнутых клиентов 824
df_clmt["dropped"].value_counts()

False    103998
True        824
Name: dropped, dtype: int64

In [146]:
df_clmt["is_fast_buy"] = (df_clmt["f_buy"] >= 0) & (df_clmt["f_buy"] <= 7)

Удаляем все строки, где нет ID клиента в заказах (дропнутные пользователи остаются в списке):

In [147]:
df_clmt = df_clmt[df_clmt["l_client_id"].notna()]

In [148]:
df_clmt

                                  client_id  ... is_fast_buy
73206  00817845-6fd6-11e7-80fc-c412f533dba1  ...       False
73207  05b7faaa-d149-11e9-abbd-c412f533dba1  ...       False
73208  0ed85394-c4da-11e9-abb6-c412f533dba1  ...       False
73209  10530fbf-ed99-11e9-abda-c412f533dba1  ...       False
73210  126f95f3-6fd6-11e7-80fc-c412f533dba1  ...       False
...                                     ...  ...         ...
77496                                   NaN  ...        True
77497                                   NaN  ...       False
77498                                   NaN  ...       False
77499                                   NaN  ...        True
77500                                   NaN  ...       False

[4295 rows x 21 columns]

Удалим лишние столбцы, которые более не понадобятся:

In [149]:
df_clmt = df_clmt.drop(["client_id", "created_at_x", "l_manager_id_x", "d_utm_medium", "l_manager_id_y", "manager_id", "fast_buy", "f_buy"], axis=1)

In [150]:
df_clmt

                                    lead_id  ... is_fast_buy
73206  b3a85c94-1d2c-11eb-ac1d-c412f533dba1  ...       False
73207  0f5f7b15-2d6e-11eb-ac1f-c412f533dba1  ...       False
73208  1be590c9-0e2b-11eb-ac1a-c412f533dba1  ...       False
73209  202ea177-0ecf-11eb-ac1a-c412f533dba1  ...       False
73210  4bc28390-1889-11eb-ac1d-c412f533dba1  ...       False
...                                     ...  ...         ...
77496  623dbf3c-2053-11eb-ac1d-c412f533dba1  ...        True
77497  7b16ce91-25cb-11eb-ac1d-c412f533dba1  ...       False
77498  7dd69b9a-0d24-11eb-ac1a-c412f533dba1  ...       False
77499  88f7896c-1a92-11eb-ac1d-c412f533dba1  ...        True
77500  f9be181c-0d10-11eb-ac1a-c412f533dba1  ...       False

[4295 rows x 13 columns]

Скачаем файл, для дальнейшей обработки в Табло и построения Дашборда:

In [151]:
# df_clmt.to_excel("/content/drive/MyDrive/some_data/df_ready.xlsx")